# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store
._.DS_Store

# Directories
data/outputs/**
data/outputs_backup/**
data/raw/**
data/inputs/**/google/**
tests/test_outputs/**
notebooks/io_processing/logs/**

# Files
*temp*.log
*._*.txt
*._*.geojson
*.so
*.swp
*stopping_times*
.api_key
data/raw/cambridge_commuter/cambridge.osm.pbf
data/raw/cambridge_commuter/home_locations.geojson
data/raw/london_commuter/GLA_data/Sources/A 2013-TCHC-Technical-Annex.xls
data/raw/london_commuter/GLA_data/Sources/B ward-atlas-data.xls
data/raw/misc/london_wards_old.json
data/raw/cambridge_commuter/facility_euclidean_cost_matrix_all_facilities_13_12_2022.pickle
logs/**

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter notebooks
.ipynb_checkpoints

# pyenv
.python-version

# mkdocs documentation
/site
docs/._experiment_reproducibility.md
docs/._neural_net_reproducibility.md
.vscode/launch.json
data/inputs/cambridge_work_commuter_lsoas/all_home_facilities_seed_1234.geojson
data/inputs/cambridge_work_commuter_lsoas/all_work_facilities_seed_1234.geojson
data/inputs/cambridge_work_commuter_lsoas/sample_20_home_facilities_seed_1234.geojson
data/inputs/cambridge_work_commuter_lsoas/sample_20_work_facilities_seed_1234.geojson
r_squared_analysis.sh
data/raw/cambridge_commuter/facility_euclidean_all_facilities_13_12_2022.pickle
data/inputs/cambridge_work_commuter_lsoas/._clustered_sample_21_work_facilities_seed_1234.geojson
data/inputs/cambridge_work_commuter_lsoas_to_msoas/all_home_facilities_seed_1234.geojson
data/inputs/cambridge_work_commuter_lsoas_to_msoas/all_work_facilities_seed_1234.geojson
data/raw/cambridge_commuter/._employment_survey_lsoa.csv
data/raw/cambridge_commuter/._employment_survey_msoa.csv
data/raw/cambridge_commuter/._OA11_LSOA11_MSOA11_LAD11_EW_LUv2.csv
data/raw/cambridge_commuter/lsoas_to_msoas_graph.gpickle
data/raw/cambridge_commuter/euclidean_all_facilities_13_12_2022.pickle
data/raw/cambridge_commuter/facility_euclidean_sample_20_facilities_17_01_2023.pickle
data/raw/cambridge_commuter/facility_shortest_path_all_facilities_17_01_2023.pickle
data/inputs/cambridge_work_commuter_lsoas/facilitiesall_home_facilities_seed_1234.geojson
data/inputs/cambridge_work_commuter_lsoas/facilitiesall_work_facilities_seed_1234.geojson
data/inputs/cambridge_work_commuter_lsoas/sample_21_work_clustered_facilities_seed_1234.geojson
data/inputs/cambridge_work_commuter_lsoas/sample_22_home_clustered_facilities_seed_1234.geojson
data/inputs/cambridge_work_commuter_lsoas_to_msoas/sample_20_home_clustered_facilities_seed_1234.geojson
data/inputs/cambridge_work_commuter_lsoas_to_msoas/sample_20_work_clustered_facilities_seed_1234.geojson
data/inputs/cambridge_work_commuter_lsoas_to_msoas/sample_34_work_clustered_facilities_seed_1234.geojson
data/inputs/cambridge_work_commuter_lsoas_to_msoas/sample_40_home_clustered_facilities_seed_1234.geojson
.vscode/settings.json
multiresticodm.zip
multiresticodm/notebooks/temp.ipynb
multiresticodm/static/uai2024.cls
