# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store
._.DS_Store

# Directories
data/outputs/**
data/raw/cambridge_commuter/*
!data/raw/cambridge_commuter/facilities_v2.geojson
!data/raw/cambridge_commuter/network.geojson
!data/raw/cambridge_commuter/employment_survey_msoa.csv
!data/raw/cambridge_commuter/cambridge.osm.pbf
!data/raw/cambridge_commuter/lower_super_output_areas_to_medium_super_output_areas_work_flows_cambridge_2011.csv
!data/raw/cambridge_commuter/cambridge_lsoas_to_msoas.geojson
!data/raw/cambridge_commuter/employment_survey_lsoa.csv
tests/test_outputs/**
notebooks/logs/**
notebooks/data/**
data/inputs/temp/**

# Files
*temp*.log
*._*.txt
*._*.geojson
*.so
*.swp
*stopping_times*
.api_key
logs/**
**/logs/**

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter notebooks
.ipynb_checkpoints

# pyenv
.python-version

# mkdocs documentation
/site
docs/._experiment_reproducibility.md
.vscode/launch.json
data/inputs/cambridge_work_commuter_lsoas/all_home_facilities_seed_1234.geojson
data/inputs/cambridge_work_commuter_lsoas/all_work_facilities_seed_1234.geojson
data/inputs/cambridge_work_commuter_lsoas/sample_20_home_facilities_seed_1234.geojson
data/inputs/cambridge_work_commuter_lsoas/sample_20_work_facilities_seed_1234.geojson
data/inputs/cambridge_work_commuter_lsoas/._clustered_sample_21_work_facilities_seed_1234.geojson
data/inputs/cambridge_work_commuter_lsoas_to_msoas/all_home_facilities_seed_1234.geojson
data/inputs/cambridge_work_commuter_lsoas_to_msoas/all_work_facilities_seed_1234.geojson
data/inputs/cambridge_work_commuter_lsoas/facilitiesall_home_facilities_seed_1234.geojson
data/inputs/cambridge_work_commuter_lsoas/facilitiesall_work_facilities_seed_1234.geojson
data/inputs/cambridge_work_commuter_lsoas/sample_21_work_clustered_facilities_seed_1234.geojson
data/inputs/cambridge_work_commuter_lsoas/sample_22_home_clustered_facilities_seed_1234.geojson
data/inputs/cambridge_work_commuter_lsoas_to_msoas/sample_20_home_clustered_facilities_seed_1234.geojson
data/inputs/cambridge_work_commuter_lsoas_to_msoas/sample_20_work_clustered_facilities_seed_1234.geojson
data/inputs/cambridge_work_commuter_lsoas_to_msoas/sample_34_work_clustered_facilities_seed_1234.geojson
data/inputs/cambridge_work_commuter_lsoas_to_msoas/sample_40_home_clustered_facilities_seed_1234.geojson
.vscode/settings.json
gensit.zip
gensit/static/uai2024.cls
docs/README.pdf
